body{
    background-color:lightsalmon;
    margin: 0;
    padding: 0;
}
.container h1{
    text-align: center;
    font-size: 5rem;
    margin-top: 20vh;
}
.checkbtn{
    display: flex;
    justify-content: center;
    margin-top: 12vh; ;
}
.checkbtn input {
    width: 15em;
    height: 25px;
}

.checkbtn button {
    width: 8em;
    height: 31px;
}
.attemp{
   display: block;
   text-align: center;
   margin-top: 10vh;
   font-size: 2rem;
}


